*{
    background-color: rgb(79, 124, 247);
}

.header {
    text-align: center;
}

h2 {
    text-align: center;
}

.portfolio{
    height: 350px;
    width: 100%;
    align-content: center;
}

#div-project-one {
    border-width: 255, 205;
    color: brown;
    height: 250px;
    width: 200px;
    text-align: center;
    position: relative;
    
}

#div-project-two {
    color: brown;
    height: 250px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 520px;
    bottom: 270px;
}

#div-project-three{
    color: brown;
    height: 250px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 1050px;
    bottom: 535px;
}

.tools {
    color: rgb(115, 255, 0);
}

#img-one, #img-two, #img-three {
    height: 200px;
    width: 200px;
    position: relative;
    left: 250px;
    bottom: 200px;
}

